roles/slapd/files/certs/*
easy-rsa/*
certs/produzione
CA/*
playbook.retry
playbook.production.yml
make_CA.production.sh
playbook.production-consumer.yml
make_consumer_cert.3.production.sh
*.pyc
*.ldif.test
*.~*
backups/*
!backups/example
idp/
certs/old/*
