- name: "Put eduPerson and SCHAC schema in /root/ldap-configs directory"
  copy:
   src: "files/{{ item }}"
   dest: "{{ tmp_dir }}"
   owner: "root"
   group: "root"
   mode: "0644"
  with_items:
   - eduperson-201602.ldif
   - schac-20150413.ldif

# EduPerson2016
- name: Search Directory for eduperson schema
  shell: "ldapsearch -QLLLY EXTERNAL -H ldapi:/// -b cn=schema,cn=config  cn=*eduperson dn"
  register: eduperson_schema

- name: Render template eduperson-201602 schema ldif
  copy:
    src: roles/{{role_name}}/files/eduperson-201602.ldif
    dest: "{{ tmp_dir }}/eduperson-201602.ldif"

- name: Add eduperson-201602 schema ldif
  command: "ldapadd -Y EXTERNAL -H ldapi:/// -f {{ tmp_dir }}/eduperson-201602.ldif"
  when: eduperson_schema.stdout == ""
  notify:
   - "Restart slapd"

- name: "eduPersonPrincipalName indexed"
  shell:
    cmd: |
      ldapmodify -Y EXTERNAL -H ldapi:/// <<EOF
      dn: olcDatabase={1}{{ ldap_backend }},cn=config
      changetype: modify
      add: olcDbIndex
      olcDbIndex: eduPersonPrincipalName eq
      EOF

# SCHAC-2015
- name: "Check the existance of 'SCHAC' schema on openLDAP and store the result on 'schac_schema' ansible variable"
  shell: "ldapsearch -QLLLY EXTERNAL -H ldapi:/// -b cn=schema,cn=config cn=*schac dn"
  register: schac_schema

- name: "Add 'schac-20150413' schema"
  command: "ldapadd -Y EXTERNAL -H ldapi:/// -f {{ tmp_dir }}/schac-20150413.ldif"
  when: schac_schema.stdout == ""
  notify:
   - "Restart slapd"

# freeRadius
- name: "Put freeRadius schema"
  shell: "ldapadd -Y EXTERNAL -H ldapi:/// -f roles/{{ role_name }}/files/freeradius_schema/{{ item }}"
  with_items:
   - freeradius.ldif
   - freeradius-clients.ldif
   - freeradius-dhcp.ldif

# samba3
- name: "Put samba3 schema"
  shell: "ldapadd -Y EXTERNAL -H ldapi:/// -f roles/{{ role_name }}/files/samba3_schema/{{ item }}"
  with_items:
   - "{{ samba_schema }}"

# pmi
- name: "Put PMI schema"
  shell: "ldapadd -Y EXTERNAL -H ldapi:/// -f /etc/ldap/schema/pmi.ldif"

# misc
- name: "Put MISC schema"
  shell: "ldapadd -Y EXTERNAL -H ldapi:/// -f /etc/ldap/schema/misc.ldif"
